body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  width: 1280px;
  max-width: 1280px;
}

button {
  background-color: #3882f6;
  border: none;
  padding: 10px 35px;
  color: white;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
}

footer{
  height: 80px;
  background-color: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
